A New Chronology of Venetian Opera and Related Genres, -- Eleanor Selfridge-Field -- The Calendar of Venetian Opera Ser, Basel_Berlin_Boston, -- 9781503619975 -- 13e87880f8588182831295f81311c5d2 -- Anna’s Archive.pdf
